/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
}

.sidebar {
    width: 250px; /* Adjust the width of the sidebar as needed */
    background-color: #333;
    color: #fff;
}

.sidebar h2 {
    padding: 20px;
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding: 10px 0;
    text-align: center;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
    display: block;
}

.content {
    flex: 1;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    clear: both;
}
